* {
    font-family: "Inter", sans-serif;
}

.logo {
    max-width: 3.5rem;
}

.py-7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.create-btn {
    background-color: #FF6C22;
    color: #FFFFFF;
}

.create-btn:hover {
    background-color: #c74b0c;
    color: #FFFFFF;
}

.custom-shape-divider-bottom-1717508694 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1717508694 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 10em;
}

.custom-shape-divider-bottom-1717508694 .shape-fill {
    fill: #FFFFFF;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}